div.footer {
  height: 20%;
  border: 3px solid black;
  background-color: rgb(17, 24, 40);
  color: white;
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  cursor: default;
  justify-content: center;
  align-content: center;
}
