div.header {
  height: 20%;
  border: 3px solid black;
  background-color: rgb(17, 24, 40);
  color: white;
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  cursor: default;
}
div.header > h3 {
  margin-left: 5%;
  margin-right: auto;
  font-size: 02rem;
  font-family: "Inter", serif;
}
div.header > div {
  margin-right: 5%;
  margin-left: auto;
}
div.header > div > a {
  margin-left: 10px;
  font-family: "serif";
}
div.header > div > a:hover {
  color: rgb(255, 204, 0);
  cursor: pointer;
}
